PORT=5001
MONGODB_URI=mongodb://localhost:27017/school_management_shared
JWT_SECRET=your_jwt_secret_key_change_in_production_admin
TOKEN_EXPIRY=24h
CLIENT_URL=http://localhost:5174
NODE_ENV=development